.login-page{
    background-color: #eee
}

.login-header{
    margin-bottom: 30px;
}
.starlin{
    color:#af113e !important
}

.starlin-bg{
   background-color:#69021F !important;
   text-shadow: #69021F;
   border: none !important;
   
   color:#ffffff !important
}

.page-container{
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    padding-top: 100px;
    position: relative;
}

.form-group input{
    background-color: #eee !important;
}
.page-bottom{
    background-color: #69021F;
    color:white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    vertical-align:middle;
   
}

.main-header{
    color:#69021F; text-align: center;padding-top: 100px;
}

.db-btn{
  
    height: 100px;
    width: 150px;
    background-color: white;
    color: #69021F;
   
}

.xpress-btn{
background-color: #69021F;
color:white;
height: 40px !important;
width: 70% !important;

vertical-align: middle;
}

.crm-btn{
    background-color: #69021F;
    color:white;
    height: 80px !important;
    width: 70% !important;
    
    vertical-align: middle;
    }

.xpress-nav-btn{
    background-color: #69021F;
    color:white;
    
    vertical-align: middle;
    }

    .summary-table tr{
        background-color: white !important;
      
    }

    .summary-table  {
       
       border-collapse: separate;
    }